-----BEGIN NATS USER JWT-----
eyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.REPLACE_ME_WITH_REAL_JWT.REPLACE_ME_WITH_SIGNATURE
------END NATS USER JWT------

************************* IMPORTANT *************************
NKEY Seed printed below can be used to sign and prove identity.
NKEYs are sensitive and should be treated as secrets.

-----BEGIN USER NKEY SEED-----
SUAREPLACEMEWITHAREALSEEDPLEASEDONTSHIPTHISTEXTASYOURIDENTITY
------END USER NKEY SEED------

*************************************************************
